html, body {
	height: 100%;
	width: 100%;
}

.project-title{
	font-family: Catamaran, serif;
	font-weight: bold;
	font-size: 250%;
	color: #4f4336;
}

body{
	background: url(../images/dust_scratches.png) center center fixed;
}

#gallery {
	margin: 50px auto;
}

.padding-block{
	padding-top: 13px;
}

.gallery-img {
	cursor: pointer;
	transition: 0.3s;
}

.gallery-img:hover {
	opacity: 0.7;
}

#help-window .card {
	margin: 0 auto;
	width: 50%;
	background-color: #333;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1031;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
	margin: auto;
	display: block;
	max-width: 100%;
	padding: 10px 0;
	background-color: transparent; 
}

.zoom-content { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.detail-box {
	padding: 10px 0;
}

.box-title {
    background-color:#fdfdfd;
    padding:10px;
}

.box-title label{
	color:#444;
	margin:0;
	display:inline-block;
}

.comment-box {
	background-color:#fdfdfd;
    border-top:1px dotted #bbb;
    padding:10px;
    max-height: 100%;
}

.comment-list {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}

.username {
	font-weight: bold;
	padding-left: 5px;
}

.comment-list li {
    margin:0;
    margin-top:10px;
    border-bottom: 1px solid #bbb;
}

.comment-list li > div {
    display:block;
}

.comment-text p {
    padding-left: 5px;
}

.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
    width: 100%;
}

.xml {
	text-decoration: none;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
	color: white;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 1500px){
	.btn {
		font-size: 20px;
	}

	.project-title {
		font-size: 55px;
	}

	.nav {
  		margin-top: 20px;
  		font-size: 18px;
	}

	#gallery{
		padding-top: 30px;
	}
}

@media screen and (min-width: 2000px){
	.btn {
		font-size: 25px;
	}

	.project-title {
		font-size: 80px;
	}

	.nav {
  		margin-top: 40px;
  		font-size: 25px;
	}

	#gallery{
		padding-top: 60px;
	}
}

@media screen and (min-width: 3500px){
	.btn {
		font-size: 45px;
	}

	.project-title {
		font-size: 140px;
	}

	.nav {
  		margin-top: 70px;
  		font-size: 45px;
	}

	#gallery{
		padding-top: 90px;
	}
}