html, body {
	height: 100%;
	width: 100%;
}

.pad-section {
	padding: 50px 0;
}

.pad-section img {
	width: 100%;
}

.margin-section {
	margin-top: 25px;
}

.text-vcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.project-title{
	font-family: Catamaran, serif;
	font-weight: bold;
	font-size: 250%;
	color: #4f4336;
}

.form-content{
	padding: 16px;
}

form{
	width: 40%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.option{
 	position: relative;
 	display: block;
 	float: right;
 	box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	background: rgba(0,0,0,.2);
 	cursor: pointer;
}

.option-text{
	position: relative;
	margin: 0;
 	line-height: 30px;
  	color: #ccc;
  	text-align: center;
  	font-size: 14px;
  	font-weight: 100;
}

.modal-content {
    background-color: #fefefe;
    margin: 7% auto 15% auto;
    border: 1px solid #888;
}

.close {
	color: white;
    position: absolute;
    top: 40px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.digits {
	height: 53px;
    width: 30px;
    display: block;
    position: absolute;
    margin: 0 auto;
    margin-left: 20px;
    top: 0;
    padding: 0;
    list-style: 0;
}

.list-group-item {
	margin-top: 20px;
  	margin-bottom: 20px;
}
.stats .list-group-item {
	padding-bottom: 60px;
}

.list-group-item:first-child {
	padding-bottom: 5px;
}

#visits-info {
	background-color: #306d9f;
	color: white;
}

.info-text {
	color: black;
}

#home {
	background: url(../images/fence.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#home .home-text {
	color: #e5dfd3;
}

#home .btn{
	opacity: 0.8;
}

#sections {
	background-color: #306d9f;
	color: white;
}

#sections .fa {
	border: 2px solid white;
	border-radius: 50%;
	display: inline-block;
	font-size: 75px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	vertical-align: middle;
	width: 140px;
}

#stat {
	background-color: #306d9f;
	color: white;
	font-family: Catamaran, serif;
}

#bfs-example {
	background: url(../images/m-underground.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#hamiltonian-example {
	background: url(../images/pinned-map.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.panel {
	opacity: 0.85;
}

.social:hover {
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -o-transform: scale(1.2);
 }
 .social {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

footer {
	padding: 10px 0;
}

@media screen and (min-width: 1500px) {
	h1 {
		font-size: 50px;
	}

	h3 {
		font-size: 38px;
	}

	body, h2, .btn {
    	font-size: 25px;
	}	

	.project-title {
		font-size: 52px;
	}

	.container {
		width: 80%;
	}


	.lead {
		font-size: 34px;
	}

	.col-large {
		width: 45%;
	}
}

@media screen and (min-width: 1500px){
	.nav {
  		margin-top: 20px;
	}

	.project-title {
		font-size: 55px;
	}
}

@media screen and (min-width: 2000px){
	body {
		font-size: 30px;
	}

	.nav {
  		margin-top: 40px;
	}

	.project-title {
		font-size: 80px;
	}
}

@media screen and (min-width: 2500px){
	h1 {
		font-size: 60px;
	}

	h3 {
		font-size: 48px;
	}

	body, h2, .btn {
		font-size: 35px;
	}

	.lead {
		font-size: 40px;
	}
}

@media screen and (min-width: 3000px){
	h1 {
		font-size: 80px;
	}

	h3 {
		font-size: 68px;
	}

	body, h2, .btn {
		font-size: 45px;
	}

	.lead {
		font-size: 50px;
	}	
}

@media screen and (min-width: 4000px){
	h1 {
		font-size: 120px;
	}

	h3 {
		font-size: 85px;
	}

	.project-title {
		font-size: 140px;
	}

	.nav {
  		margin-top: 70px;
	}

	body, h2, .btn {
		font-size: 55px;
	}

	.lead {
		font-size: 75px;
	}
}